<div class="box">
    <div class="wrapper wrapper-flush">
        <div class="grid">
            <div class="grid-item 1/1">
                <input ng-model="vm.search.$"
                       placeholder="search…"
                       class="db 1/1 p">
            </div>
        </div>
    </div>
</div>

<div ui-view="terms"></div>

<!-- <div class="wrapper wrapper-flush mv">
    <ol class="list-bare">
        <li ng-repeat="term in vm.terms | filter:vm.search">
            <ux-card term="term"
                     class="mb-">
            </ux-card>
        </li>
    </ol>
</div>
 -->